{% extends "base.html" %}

{% block title %} Movies {% endblock %}

{% block main %} 

    <h1>Movies</h1>
    <h2>Currently popular</h2>
    <section>
        <div class="container">
            <div class="row">
                {% for element in popular_movies %}
                    <div class="element-card">
                        <img src="https://image.tmdb.org/t/p/original/{{element.poster_path}}" alt="posters" class="movie-poster">
                        <p class="title">{{element.title}}</p>
                        <a href={{ url_for('add_to_watchlist', item_id=element.id, item_type='movie') }} class="btn btn-warning mb-3 ml-3">Add to watchlist</a>
                        <a href={{ url_for('add_to_watched', item_id=element.id, item_type='movie') }} class="btn btn-info mb-3">Add to watched</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <h2>Upcoming</h2>
    <section>
        <div class="container">
            <div class="row">
                {% for element in upcoming_movies %}
                    <div class="element-card">
                        <img src="https://image.tmdb.org/t/p/original/{{element.poster_path}}" alt="posters" class="movie-poster">
                        <p class = "title">{{element.title}}</p>

                        <a href={{ url_for('add_to_watchlist', item_id=element.id, item_type='movie') }} class="btn btn-warning mb-3 ml-3">Add to watchlist</a>
                        <a href={{ url_for('add_to_watched', item_id=element.id, item_type='movie') }} class="btn btn-info mb-3">Add to watched</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    <section>

    <h2>In Theatres</h2>
    <section>
        <div class="container">
            <div class="row">
                {% for element in now_playing_movies %}
                    <div class="element-card">
                        <img src="https://image.tmdb.org/t/p/original/{{element.poster_path}}" alt="posters" class="movie-poster">
                        <p class = "title">{{element.title}}</p>

                        <a href={{ url_for('add_to_watchlist', item_id=element.id, item_type='movie') }} class="btn btn-warning mb-3 ml-3">Add to watchlist</a>
                        <a href={{ url_for('add_to_watched', item_id=element.id, item_type='movie') }} class="btn btn-info mb-3">Add to watched</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
